//Theme Colors
$primary-color: #000;
// $primary-color: #000;
$white-color: #fff;
$dark-color: #333;


$primary_font:'Poppins', sans-serif;
$secondary_font:'Merriweather', serif;



$color_1: #f1859d;
$color_2: #43b4f6;
$color_3: #fed140;
$color_4: #414c9c;
$color_5: #ff9065;
$color_6: #707edc;
$color_7: #79b7b6;